<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h2 class="text-center mt-4">Quotes App</h2>
    <div class="row mt-4">
      <div class="col-md-8">
        <h5>My Quotes</h5>
        <app-quotes [quotes] = "storedQuotes"></app-quotes>
      </div>
      <div class="col-md-4">
        <h5>Add New Quotes</h5>
        <app-form (onQuoteCreated) = onQuoteAdded($event)></app-form>
      </div>
    </div>
  </div>
</body>
</html>